fastapi
uvicorn[standard]
numpy
pandas
polars
fastexcel
openpyxl
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
google-genai
httpx
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
jinja2
xhtml2pdf
